* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
    background: #6B7A8F;
}

.navbar {
  display: flex;
  justify-content: center;
  background: #222;
  height: 10vh;
  width: 100%;
}

.navbar h1 {
  color: #fff;
  display: block;
  padding: 0.6rem; 
}



.add {
  margin: 10px;
}

.add-text {
  width: 80%;
  padding: 11px;
  margin: 5px;
  font-size: 18px;
}


.add-button {
  width: 15%;
  padding: 8px 16px;
  font-size: 18px;
  border: 1px solid black;
}
